/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
*
{
	-webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body
{
	-webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
	-webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
	-webkit-user-select: none; /* prevent copy paste, to allow, change 'none' to 'text' */
	background-color: #E4E4E4;
	background-image: linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
	background-image: -webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
	background-image: -ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
	background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, #A7A7A7), color-stop(0.51, #E4E4E4) );
	background-attachment: fixed;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	height: 100%;
	margin: 0px;
	padding: 0px;
	text-transform: uppercase;
	width: 100%;
}

.app
{
	background: url(../img/logo.png) no-repeat center top; /* 170px x 200px */
	position: absolute; /* position in the center of the screen */
	left: 50%;
	top: 50%;
	height: 50px; /* text area height */
	width: 225px; /* text area width */
	text-align: center;
	padding: 180px 0px 0px 0px; /* image height is 200px (bottom 20px are overlapped with text) */
	margin: -115px 0px 0px -112px; /* offset vertical: half of image height and text area height */
	/* offset horizontal: half of text area width */
}

h1
{
	font-size: 24px;
	font-weight: normal;
	margin: 0px;
	overflow: visible;
	padding: 0px;
	text-align: center;
}

.event
{
	border-radius: 4px;
	-webkit-border-radius: 4px;
	color: #FFFFFF;
	font-size: 12px;
	margin: 0px 30px;
	padding: 2px 0px;
}

	.event.listening
	{
		background-color: #333333;
		display: block;
	}

	.event.received
	{
		background-color: #4B946A;
		display: none;
	}

@keyframes fade
{
	from
	{
		opacity: 1.0;
	}

	50%
	{
		opacity: 0.4;
	}

	to
	{
		opacity: 1.0;
	}
}

@-webkit-keyframes fade
{
	from
	{
		opacity: 1.0;
	}

	50%
	{
		opacity: 0.4;
	}

	to
	{
		opacity: 1.0;
	}
}

.blink
{
	animation: fade 3000ms infinite;
	-webkit-animation: fade 3000ms infinite;
}


/**********************************************************************************************************************/
/* Green Button Theme */
.ui-btn-up-g, .ui-btn-hover-g, .ui-btn-down-g
{
	color: white;
	font-weight: bold;
	text-decoration: none;
}

.ui-btn-up-g
{
	border: 1px solid #397114;
	background: #5aab25;
	font-weight: bold;
	color: #fff;
	text-shadow: 0 -1px 1px #000;
	background-image: -moz-linear-gradient(top, #7ec44f, #5aab25);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #87c45e), color-stop(1, #619e39));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#7ec44f', EndColorStr='#5aab25')";
}

	.ui-btn-up-g a.ui-link-inherit
	{
		color: #fff;
	}

.ui-btn-hover-g
{
	border: 1px solid #2c6e00;
	background: #75b54a;
	font-weight: bold;
	color: #fff;
	text-shadow: 0 -1px 1px #000;
	background-image: -moz-linear-gradient(top, #99d472, #75b54a);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #99d472), color-stop(1, #75b54a));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#99d472', EndColorStr='#75b54a')";
}

	.ui-btn-hover-g a.ui-link-inherit
	{
		color: #fff;
	}

.ui-btn-down-g
{
	border: 1px solid #457823;
	background: #7ec44f;
	font-weight: bold;
	color: #fff;
	text-shadow: 0 -1px 1px #000;
	background-image: -moz-linear-gradient(top, #619e39, #7ec44f);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #619e39), color-stop(1, #7ec44f));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#619e39', EndColorStr='#7ec44f')";
}

	.ui-btn-down-g a.ui-link-inherit
	{
		color: #fff;
	}

.ui-btn-up-g, .ui-btn-hover-g, .ui-btn-down-g
{
	color: white;
	font-weight: bold;
	text-decoration: none;
}

/**********************************************************************************************************************/
/* Red Button Theme */


.ui-btn-up-r
{
	border: 1px solid #721414;
	background: #AB2525;
	font-weight: bold;
	color: #fff;
	text-shadow: 0 -1px 1px #000;
	background-image: -moz-linear-gradient(top, #C54E4E, #AB2525);
	background-image: -webkit-gradient(linear,left top,left bottom, color-stop(0, #C54E4E), color-stop(1, #AB2525));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#C54E4E', EndColorStr='#AB2525')";
}

	.ui-btn-up-r a.ui-link-inherit
	{
		color: #fff;
	}

.ui-btn-hover-r
{
	border: 1px solid #6E0000;
	background: #B64B4B;
	font-weight: bold;
	color: #fff;
	text-shadow: 0 -1px 1px #000;
	background-image: -moz-linear-gradient(top, #D47272, #B64B4B);
	background-image: -webkit-gradient(linear,left top,left bottom, color-stop(0, #D47272), color-stop(1, #B64B4B));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#D47272', EndColorStr='#B64B4B')";
}

	.ui-btn-hover-r a.ui-link-inherit
	{
		color: #fff;
	}

.ui-btn-down-r
{
	border: 1px solid #772222;
	background: #C54E4E;
	font-weight: bold;
	color: #fff;
	text-shadow: 0 -1px 1px #000;
	background-image: -moz-linear-gradient(top, #9E3939, #C54E4E);
	background-image: -webkit-gradient(linear,left top,left bottom, color-stop(0, #9E3939), color-stop(1, #C54E4E));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#9E3939', EndColorStr='#C54E4E')";
}

	.ui-btn-down-r a.ui-link-inherit
	{
		color: #fff;
	}

.ui-btn-up-r,
.ui-btn-hover-r,
.ui-btn-down-r
{
	font-family: Helvetica, Arial, sans-serif;
	text-decoration: none;
}

/**********************************************************************************************************************/


.ui-input-text.ui-body-g
{
	background-color: #7ec44f;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #fff;
	/*-moz-box-shadow: 0 0 12px #387bbe;
	-webkit-box-shadow: 0 0 12px #387bbe;
	box-shadow: 0 0 12px #387bbe;*/
}

	.ui-input-text.ui-body-g input
	{
		color: #fff;
	}

.ui-input-text.ui-body-r
{
	background-color: #C54E4E;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #fff;
	/*-moz-box-shadow: 0 0 12px #387bbe;
	-webkit-box-shadow: 0 0 12px #387bbe;
	box-shadow: 0 0 12px #387bbe;*/
}

	.ui-input-text.ui-body-r input
	{
		color: #fff;
	}

.questionText
{
	text-transform: none;
	font-size: 18px;
	font-weight: normal;
	background-color: white;
	padding: 4px 8px;
	border-radius: 4px;
	border: solid 1px black;
	min-height: 2.5em;
}

.photoDisplayBox
{
	text-align: center;
	padding: 5px;
}

/*****************************************************************************************************************/
/*							Device and Orientation-Specific Media Queries										 */
/*****************************************************************************************************************/

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px)
{
	/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px)
{
	.photoDisplay
	{
		max-width: 280px;
		max-height: 200px;
	}
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) and (max-width: 767px)
{
	.app
	{
		background-position: left center;
		padding: 75px 0px 75px 170px; /* padding-top + padding-bottom + text area = image height */
		margin: -90px 0px 0px -198px; /* offset vertical: half of image height */
		/* offset horizontal: half of image width and text area width */
	}

	.questionText
	{
		display: inline-block;
		width: 35%;
		height: 170px;
		vertical-align: top;
	}

	.photoDisplayBox
	{
		display: inline-block;
		width: 58%;
		padding: 0px;
	}

	.photoDisplay
	{
		max-width: 280px;
		max-height: 170px;
	}
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 768px) and (max-width : 1024px)
{
}

/* iPads (portrait) ----------- */
@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : portrait)
{
	.photoDisplay
	{
		max-width: 725px;
		max-height: none;
	}
}

/* iPads (landscape) ----------- */
@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : landscape)
{
	.photoDisplay
	{
		max-width: 800px;
		max-height: none;
	}
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px)
{
	/* Styles */
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px)
{
	/* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5)
{
	/* Styles */
}
